@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply bg-gray-500 text-white hover:bg-black;
  }

  button.active {
    @apply bg-black;
  }
}

.card {
  transition: all 0.3s ease;
  /* other styles for your card */
}

.card-container:hover .card {
  opacity: 0.6; /* Dim other cards when any card is hovered */
}

.card:hover {
  opacity: 1; /* Highlight the hovered card */
  transform: scale(1.05); /* Optional: Scale up the card slightly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for more emphasis */
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}

.collapsible .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

.menus {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu-items {
  margin-right: 10px; /* Adjust this value to your desired spacing */
}

/* Simple Striped pattern */
.striped-event {
  background: linear-gradient(45deg, blue 25%, transparent 25%, 
               transparent 50%, blue 50%, blue 75%, transparent 75%, transparent); 
  background-size: 8px 8px; /* Adjust size of stripes */
}

