@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply bg-gray-500 text-white hover:bg-black;
  }
}

.card {
  transition: all 0.3s ease;
  /* other styles for your card */
}

.card-container:hover .card {
  opacity: 0.6; /* Dim other cards when any card is hovered */
}

.card:hover {
  opacity: 1; /* Highlight the hovered card */
  transform: scale(1.05); /* Optional: Scale up the card slightly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for more emphasis */
}
