@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply bg-gray-500 text-white hover:bg-black;
  }

  button.active {
    @apply bg-black;
  }
}

/* Menu */
.card {
  transition: all 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.card-container:hover .card {
  opacity: 0.9; /* Dim other cards when any card is hovered */
}

.card:hover {
  opacity: 1; /* Highlight the hovered card */
  transform: scale(1.02); /* Scale up the card slightly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for more emphasis */
}

.collapsible .content {
  padding: 12px;
  background-color: #f3f4f6;
}

.collapsible .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e7eb;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
}

.menus {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu-items {
  margin-right: 12px; /* Adjust this value to your desired spacing */
}

.UnitDrodown {
  position: relative;
  z-index: 9999;
}

/* Calendar */
.calendar-container {
  display: flex;
  flex-direction: row; /* Use 'column' to stack components vertically */
  overflow: hidden;
}

.left-content {
  flex: 2; /* Twice the space as the right content */
  margin-right: 20px;
}

.right-content {
  flex: 1;
}

.event-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure the modal is on top */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 900; /* Below the modal, but above everything else */
}
